@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

$color-orange: #F8961E;
$color-orange-overlay: lighten($color-orange, 8%);

$color-marineblue: #415A77;
$color-background: #F1FAEE;
$color-frames: #E4E4E7;
$color-text: #2E333D;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $color-text;
    background: $color-background;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.button {
    display: inline-block;
    padding: .5rem .75rem;
    border-radius: 3px;
    font-weight: 500;
    transition: all .2s;

    &__orange {
        background: $color-orange;
        color: $color-text;

        &:hover {
            background: $color-orange-overlay;
            color: #fff;
        }
    }
}


.container {
    width: 90vw;
    max-width: 950px;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
}

p {
    margin-bottom: 1rem;
}

h1 {
    display: none;
}

h2 {
    margin-bottom: 1.5rem;
}

h3 {
    margin-bottom: 1rem;

    i {
        color: $color-orange;
    }
}

section {
    padding: 2rem 0;
}

header {
    padding: .75rem 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 180px;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: .75rem;
    }
}

.hero-banner {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 350px;
    overflow: hidden;
    padding: 2rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, $color-text 35%, transparent), url(../assets/flexpav_asfalto.png);

    &--content {
        position: relative;
        color: #fff;
        width: 50%;

        h2 {
            font-size: 2rem;
        }
    }
}

.card-package {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
        width: 320px;
    }
}

.section-use {
    .row {
        gap: 2.25rem;
    }
    .col {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 200px;
        margin-bottom: 1rem;
    }
}

.section-benefits {
    ul {
        list-style: none;
        columns: 2;
        column-gap: 1rem;

        li {
            display: flex;
            margin-bottom: .5rem;
        }

        li::before {
            content: '\f00c';
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            color: $color-orange;
            margin-right: .5rem;
        }
    }
}

.card-yield {
    background: $color-orange;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    p {
        margin-bottom: 0;
    }

    &--figure {
        flex: 1 0 400px;

        img {
            width: 100%;
        }
    }
}

.card-sustainability {
    background: $color-marineblue;
    color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    p {
        margin-bottom: 0;
    }

    &--figure {
        margin-top: -3rem;
        // margin-bottom: -3.5rem;
    }
}

.section-questions {
    h2 i {
        color: $color-orange;
    }

    input {
        display: none;
    }

    input:checked + label {
        color: lighten($color-text, 30%);
    }

    input:checked + label + p {
        display: block;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        padding: 1rem;
        border-radius: 5px;
        background: $color-frames;
    }

    label {
        display: block;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: lighten($color-text, 30%);
        }

        &::after {
            content: '\f078';
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            float: right;
        }
    }

    p {
        display: none;
        padding: .75rem;
        border-radius: 3px;
        background: lighten($color-frames, 3%);
        margin-top: 1rem;
        margin-bottom: 0;
        line-height: 145%;
    }

    a {
        color: $color-orange;
        text-decoration: underline;
    }
}

.card-services-project {
    display: flex;
    gap: 1rem;
    background: $color-frames;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;

    div:first-child {
        width: 450px
    }

    .image-grid {
        display: grid;
        width: 100%;
        gap: .5rem;
        grid-template-areas:
            'img-a img-b'
            'img-a img-c';

        img:nth-child(1) {
            grid-area: img-a;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        img:nth-child(2) {
            grid-area: img-b;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        img:nth-child(3) {
            grid-area: img-c;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.card-services-rent {
    display: flex;
    flex-direction: column;
    background: $color-marineblue;
    border-radius: 10px;
    padding: 10px;
    padding: 1.5rem;

    &--header {
        display: flex;
        align-items: center;
        color: #fff;
    }

    .card-services-rent--items {
        display: flex;
        gap: 1rem;

        .item {
            flex: 1;
            border-radius: 6px;
            background: $color-background;
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            h4 {
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 0;
            }

            img {
                width: 160px;
            }
        }
    }
}

.section-contact {
    margin-bottom: 3rem;
    ul {
        list-style: none;
    }
}

footer {
    padding: .75rem 0;
    background: $color-marineblue;
    color: #fff;
    font-size: .9rem;

    .col:first-child {
        text-align: start;
    }

    .col:last-child {
        text-align: end;
    }
}
