@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

$color-orange: #F8961E;
$color-orange-overlay: lighten($color-orange, 8%);

$color-marineblue: #415A77;
$color-background: #F1FAEE;
$color-frames: #E4E4E7;
$color-text: #2E333D;


@mixin mobile {
    @media screen and (max-width: 768px) {
        @content
    }
}

@import "header";
@import "hero";
@import "benefits";
@import "yield";
@import "use";
@import "sustainability";
@import "questions";
@import "who";
@import "services";
@import "contact";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    // border: thin solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: $color-text;
    background: $color-background;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.button {
    display: inline-block;
    padding: .5rem .75rem;
    border-radius: 3px;
    font-weight: 500;
    transition: all .2s;

    &__orange {
        background: $color-orange;
        color: $color-text;

        &:hover {
            background: $color-orange-overlay;
            color: #fff;
        }
    }
}

.container {
    width: 90vw;
    max-width: 950px;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
}

p {
    margin-bottom: 1rem;
    line-height: 145%;
}

h1 {
    display: none;
}

h2 {
    margin-bottom: 1.5rem;
}

h3 {
    margin-bottom: 1rem;

    i {
        color: $color-orange;
    }
}

section {
    padding: 2rem 0;
}



.package {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-bottom: 2rem;

    @include mobile {
        flex-direction: column;
    }

    img {
        width: 100%;
        max-width: 400px;
    }

}

.product-destaq {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    h3 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    p {
        margin-bottom: 0;
    }
}

.product-data {
    margin: 1rem 0 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        flex: 0 1 175px;
        width: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid $color-frames;
        padding: 1.5rem .75rem;
        border-radius: 7px;

        svg {
            width: 100px;
            height: 100px;
            position: relative;
            transform: rotate(-90deg);

            circle {
                fill: none;
                stroke: $color-frames;
                stroke-width: 8;
                stroke-linecap: round;
            }

            circle:nth-child(2) {
                // perimetro do circulo: c = 2 * PI * raio
                stroke-dasharray: 263;
                stroke-dashoffset: calc(263 - (263 * var(--value)) / 100);
                stroke: $color-orange;
            }
        }
    }

    &--percent {
        font-weight: 800;
        color: $color-marineblue;
        font-size: 1.75rem;
        margin: 0;
    }

    &--legend {
        font-size: .85rem;
        margin: 0;
    }
}



footer {
    padding: .75rem 0;
    background: $color-marineblue;
    color: #fff;
    font-size: .9rem;

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        @include mobile {
            flex-direction: column;
        }
    }

    .col:first-child {
        text-align: start;
        @include mobile {
            text-align: center;
        }
    }

    .col:last-child {
        text-align: end;
        @include mobile {
            font-size: .8rem;
            text-align: center;
        }
    }
}
